$bg_primary: #262626;
$bg_secondary: #222222;
$text_color_primary: #999999;
$text_color_secondary: #FFFFFF;
$shadow: -5px 5px 14px 0px #61606029;
$scroll: rgba(79, 150, 134, 0.31);
$radius: 10px;
$breakpoints: (
   xs: 0,
   sm: 480px,
   md: 760px,
   lg: 1200px,
);